window.OzoneConfig = {
    "API_URL": "{{ root_url }}",
    "HELP_URL": "{{ root_url }}/help/#/",
    "METRICS_URL": "{{ metrics_url }}",
    "METRICS_HUD_SITE_ID": {{ metrics_hud_id }},
    "METRICS_WEBTOP_SITE_ID": {{ metrics_webtop_id }},
    "IE_REDIRECT_URL": "https://browser-update.org/update.html",
    "CENTER_URL": "{{ root_url }}/center/",
    "CENTER_REVIEWS_CHAR_LIMIT": 20,
    "HUD_URL": "{{ root_url }}/hud/",
    "WEBTOP_URL": "{{ root_url }}/webtop/",
    "IWC_URL": "{{ root_url }}/iwc/",
    "DEVELOPER_RESOURCES_URL": "#",
    "APP_TITLE": 'AppsMall Center',
    "FEEDBACK_ADDRESS": "mailto:person@address.com",
    "HELPDESK_ADDRESS": "mailto:helpdesk@address.com",
    "REQUEST_ADDRESS": "mailto:request@address.com",
    "SOCIAL_CHIRP_ADDRESS": "http://localhost:8000/dist",
    "SOCIAL_PIN_ADDRESS": "http://localhost:8000/dist",
    "SOCIAL_CHAT_ADDRESS": "http://localhost:8000/dist",
    "SOCIAL_BLOG_ADDRESS": "http://localhost:8000/dist",
    'HELP_DOCS': {
        'Help doc 1': '/path/to/document',
        'Help doc 2': '/path/to/document',
        'Help doc 3': '/path/to/document',
        'Help doc 4': '/path/to/document',
        'Help doc 5': '/path/to/document'
    },
    'HELP_VIDEOS': {
        'Video 1': '/path/to/video',
        'Video 2': '/path/to/video',
        'Video 3': '/path/to/video',
        'Video 4': '/path/to/video',
        'Video 5': '/path/to/video'
    }
};
